In [2]:
import pandas as pd

In [3]:
classes=['classA','classB','classC','classD','classE','classB','classC','classC','classA','classD','classE']

In [4]:
df=pd.DataFrame(classes)

In [5]:
df

         0
0   classA
1   classB
2   classC
3   classD
4   classE
5   classB
6   classC
7   classC
8   classA
9   classD
10  classE

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
label_encoder=LabelEncoder()

In [8]:
encoded=label_encoder.fit_transform(classes)
orginal= label_encoder.inverse_transform(encoded)

In [12]:
print("Encoded data: ", encoded)
print("Original/decoded data: ", orginal)

Encoded data:  [0 1 2 3 4 1 2 2 0 3 4]
Original/decoded data:  ['classA' 'classB' 'classC' 'classD' 'classE' 'classB' 'classC' 'classC'
 'classA' 'classD' 'classE']