In [9]:
import pandas as pd

In [10]:
movies={
    'Movie_Cetagories':['Hollywood','Dallywood', 'Bollywood','Turky','Bangla','English']
}

In [11]:
movies

{'Movie_Cetagories': ['Hollywood',
  'Dallywood',
  'Bollywood',
  'Turky',
  'Bangla',
  'English']}

In [12]:
df=pd.DataFrame(movies)

In [13]:
df

  Movie_Cetagories
0        Hollywood
1        Dallywood
2        Bollywood
3            Turky
4           Bangla
5          English

In [17]:
encoding=pd.get_dummies(df, columns=['Movie_Cetagories'])

In [18]:
encoding

,Movie_Cetagories_Bangla,Movie_Cetagories_Bollywood,Movie_Cetagories_Dallywood,Movie_Cetagories_English,Movie_Cetagories_Hollywood,Movie_Cetagories_Turky
0,False,False,False,False,True,False
1,False,False,True,False,False,False
2,False,True,False,False,False,False
3,False,False,False,False,False,True
4,True,False,False,False,False,False
5,False,False,False,True,False,False