In [63]:
import pandas as pd

In [64]:
from sklearn.preprocessing import OrdinalEncoder

In [65]:
data=[['Excellent'],['Very Good'], ['Good'], ['bad'], ['very bad'],['foolish'],['bad'],['Good'],['foolish'],[ 'Very Good'],['Excellent'],['very bad']]

In [66]:
df=pd.DataFrame(data,columns=['order'])

In [67]:
df

        order
0   Excellent
1   Very Good
2        Good
3         bad
4    very bad
5     foolish
6         bad
7        Good
8     foolish
9   Very Good
10  Excellent
11   very bad

In [68]:
order=[['Excellent','Very Good', 'Good', 'bad', 'very bad','foolish']]

In [69]:
order

[['Excellent', 'Very Good', 'Good', 'bad', 'very bad', 'foolish']]

In [70]:
ordinalEncoder=OrdinalEncoder(categories=order)

In [71]:
encode=ordinalEncoder.fit_transform(data)

In [72]:
encode

array([[0.],
       [1.],
       [2.],
       [3.],
       [4.],
       [5.],
       [3.],
       [2.],
       [5.],
       [1.],
       [0.],
       [4.]])