In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
df=pd.read_csv('usd.csv', sep=';')

In [19]:
df.head()

       Date  Starting (USD)  Ending (USD)
0  01.01.24           16800         16500
1  01.12.23           15900         16100
2  01.11.23           15800         15300
3  01.10.23           16100         16200
4  01.09.23           16300         15700

In [20]:
df.drop(columns='Date')

    Starting (USD)  Ending (USD)
0            16800         16500
1            15900         16100
2            15800         15300
3            16100         16200
4            16300         15700
5            16800         16400
6            15900         16200
7            15800         15500
8            16150         16100
9            16300         15800
10           16200         16200
11           16300         15700

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            12 non-null     object
 1   Starting (USD)  12 non-null     int64
 2   Ending (USD)    12 non-null     int64
dtypes: int64(2), object(1)
memory usage: 420.0+ bytes

In [22]:
df.describe()

       Starting (USD)  Ending (USD)
count       12.000000     12.000000
mean     16195.833333  15975.000000
std        338.753285    369.582074
min      15800.000000  15300.000000
25%      15900.000000  15700.000000
50%      16175.000000  16100.000000
75%      16300.000000  16200.000000
max      16800.000000  16500.000000

In [23]:
x=df[['Starting (USD)']]

In [24]:
y=df[['Ending (USD)']]

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
model=LinearRegression()

In [27]:
model.fit(x,y)

LinearRegression()

In [30]:
predict=model.predict(x)

In [31]:
df['predict_y']=predict

In [32]:
df

        Date  Starting (USD)  Ending (USD)     predict_y
0   01.01.24           16800         16500  16369.268856
1   01.12.23           15900         16100  15781.944215
2   01.11.23           15800         15300  15716.685922
3   01.10.23           16100         16200  15912.460802
4   01.09.23           16300         15700  16042.977389
5   01.08.23           16800         16400  16369.268856
6   01.07.23           15900         16200  15781.944215
7   01.06.23           15800         15500  15716.685922
8   01.05.23           16150         16100  15945.089949
9   01.04.23           16300         15800  16042.977389
10  01.03.23           16200         16200  15977.719096
11  01.02.23           16300         15700  16042.977389

In [33]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [36]:
mse= mean_squared_error(df['Ending (USD)'],df['predict_y'])

In [38]:
mse

80411.23397700385

In [37]:
mae= mean_absolute_error(df['Ending (USD)'],df['predict_y'])

In [39]:
mae

260.3840017604666

In [ ]:
plt.plot(ma)